# SQL & SQLite

SQL (Structured Query Language) is a standard language for managing and manupulating relational databases.

SQLite is a self-contained, serverless, and zero-configuration databases enginer that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations

In [81]:
import sqlite3

In [82]:
# connect to an SQLite database (creating)

connection = sqlite3.connect('example.db')
connection

In [83]:
cursor = connection.cursor()

In [84]:
# create a table

cursor.execute("""
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
""")


# commit the changes
connection.commit()

In [85]:
cursor.execute("""
SELECT * FROM employees
""")

In [86]:
# insert the data in sqlite table
cursor.execute("""
INSERT INTO employees(name, age, department)
VALUES ("Bob", 26, "ENTC")
"""
)

cursor.execute("""
INSERT INTO employees(name, age, department)
VALUES ("Mark", 20, "MSE")
"""
)

cursor.execute("""
INSERT INTO employees(name, age, department)
VALUES ("John", 25, "CSE")
"""
)

connection.commit()

In [87]:
## query the data from the table

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

# print the queried data

for row in rows:
    print(row)

(1, 'Bob', 26, 'ENTC')
(2, 'Mark', 20, 'MSE')
(3, 'John', 25, 'CSE')

In [88]:
# update the data in the table
cursor.execute("""
UPDATE employees
SET age = 34
WHERE name = "Bob"
""")

connection.commit()

In [89]:
## query the data from the table

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

# print the queried data

for row in rows:
    print(row)

(1, 'Bob', 34, 'ENTC')
(2, 'Mark', 20, 'MSE')
(3, 'John', 25, 'CSE')

In [90]:
# delete the data from the table

cursor.execute("""
DELETE FROM employees
WHERE name = 'Bob'
""")

connection.commit()

In [91]:
## query the data from the table

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

# print the queried data

for row in rows:
    print(row)

(2, 'Mark', 20, 'MSE')
(3, 'John', 25, 'CSE')

# Project - Sales Data

In [103]:
# working with sales data
# connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# create a table for sales data
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
    )
""")

In [104]:
# insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product01', 100, 'North'),
    ('2023-01-02', 'Product02', 200, 'South'),
    ('2023-01-03', 'Product01', 150, 'East'),
    ('2023-01-04', 'Product03', 250, 'West'),
    ('2023-01-05', 'Product02', 300, 'North')
]

connection.commit()

In [105]:
cursor.executemany('''
INSERT INTO sales(date, product, sales, region)
                   values(?,?,?,?)
''', sales_data)

connection.commit()

In [106]:
#query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product01', 100, 'North')
(2, '2023-01-02', 'Product02', 200, 'South')
(3, '2023-01-03', 'Product01', 150, 'East')
(4, '2023-01-04', 'Product03', 250, 'West')
(5, '2023-01-05', 'Product02', 300, 'North')

In [107]:
# close the connection
connection.close()