# Importing Libraries

In [ ]:
# prepare the environment

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import linear_model

# File Loading

In [ ]:
data = pd.read_csv("D:\Github\FYP-ML-Optimization-of-CZTS\Linear_Regression\student-mat.csv")

In [ ]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
data.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,0,1,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,0,1,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,0,1,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,0,1,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,0,1,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

# Data Cleaning

#### All the non numerical data are converted into numericals. 
#### Binary data (yes or no) to 1s and 0s
#### Categorical data to numericals

In [ ]:
# remove columns

data.drop(columns=["school"], inplace=True)

In [ ]:
for x in data.index:

    if data.loc[x, "sex"] == "M":
        data.loc[x, "sex"] = 1

    elif data.loc[x, "sex"] == "F":
        data.loc[x, "sex"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "school"] == "GP":
        data.loc[x, "school"] = 1

    elif data.loc[x, "school"] == "MS":
        data.loc[x, "school"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "address"] == "U":
        data.loc[x, "address"] = 1

    elif data.loc[x, "address"] == "R":
        data.loc[x, "address"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "famsize"] == "GT3":
        data.loc[x, "famsize"] = 1

    elif data.loc[x, "famsize"] == "LE3":
        data.loc[x, "famsize"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "Pstatus"] == "T":
        data.loc[x, "Pstatus"] = 1

    elif data.loc[x, "Pstatus"] == "A":
        data.loc[x, "Pstatus"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "Mjob"] == "teacher":
        data.loc[x, "Mjob"] = 4

    elif data.loc[x, "Mjob"] == "health":
        data.loc[x, "Mjob"] = 3

    elif data.loc[x, "Mjob"] == "services":
        data.loc[x, "Mjob"] = 2

    elif data.loc[x, "Mjob"] == "at_home":
        data.loc[x, "Mjob"] = 1

    else:
        data.loc[x, "Mjob"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "Fjob"] == "teacher":
        data.loc[x, "Fjob"] = 4

    elif data.loc[x, "Fjob"] == "health":
        data.loc[x, "Fjob"] = 3

    elif data.loc[x, "Fjob"] == "services":
        data.loc[x, "Fjob"] = 2

    elif data.loc[x, "Fjob"] == "at_home":
        data.loc[x, "Fjob"] = 1

    else:
        data.loc[x, "Fjob"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "reason"] == "home":
        data.loc[x, "reason"] = 4

    elif data.loc[x, "reason"] == "reputation":
        data.loc[x, "reason"] = 3

    elif data.loc[x, "reason"] == "course":
        data.loc[x, "reason"] = 2

    elif data.loc[x, "reason"] == "other":
        data.loc[x, "reason"] = 1

In [ ]:
for x in data.index:

    if data.loc[x, "guardian"] == "mother":
        data.loc[x, "guardian"] = 3

    elif data.loc[x, "guardian"] == "father":
        data.loc[x, "guardian"] = 2

    elif data.loc[x, "guardian"] == "other":
        data.loc[x, "guardian"] = 1

In [ ]:
for x in data.index:

    if data.loc[x, "schoolsup"] == "yes":
        data.loc[x, "schoolsup"] = 1

    elif data.loc[x, "schoolsup"] == "no":
        data.loc[x, "schoolsup"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "famsup"] == "yes":
        data.loc[x, "famsup"] = 1

    elif data.loc[x, "famsup"] == "no":
        data.loc[x, "famsup"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "paid"] == "yes":
        data.loc[x, "paid"] = 1

    elif data.loc[x, "paid"] == "no":
        data.loc[x, "paid"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "activities"] == "yes":
        data.loc[x, "activities"] = 1

    elif data.loc[x, "activities"] == "no":
        data.loc[x, "activities"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "nursery"] == "yes":
        data.loc[x, "nursery"] = 1

    elif data.loc[x, "nursery"] == "no":
        data.loc[x, "nursery"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "higher"] == "yes":
        data.loc[x, "higher"] = 1

    elif data.loc[x, "higher"] == "no":
        data.loc[x, "higher"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "internet"] == "yes":
        data.loc[x, "internet"] = 1

    elif data.loc[x, "internet"] == "no":
        data.loc[x, "internet"] = 0

In [ ]:
for x in data.index:

    if data.loc[x, "romantic"] == "yes":
        data.loc[x, "romantic"] = 1

    elif data.loc[x, "romantic"] == "no":
        data.loc[x, "romantic"] = 0

In [ ]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,0,18,1,1,0,4,4,0,0,...,4,3,4,1,1,3,6,5,6,6
1,1,0,17,1,1,1,1,1,0,0,...,5,3,3,1,1,3,4,5,5,6
2,1,0,15,1,0,1,1,1,0,0,...,4,3,2,2,3,3,10,7,8,10
3,1,0,15,1,1,1,4,2,0,0,...,3,2,2,1,1,5,2,15,14,15
4,1,0,16,1,1,1,3,3,0,0,...,4,3,2,1,2,5,4,6,10,10

# Remove rows with Empty entries

#### axis = 1 for columns
#### axis = 0 for rows

In [ ]:
# remove empty data rows (axis = 1 for columns)

data.dropna(axis=0, inplace=True)

# Training the Model 

In this the features (independent variables) i expect to consider can be varied as required.

In [ ]:
reg = linear_model.LinearRegression()
# reg.fit(data[["school", "sex", "age", "address", "famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "reason", "guardian", "traveltime", "studytime", "failures", "schoolsup", "famsup", "paid", "activities", "nursery", "higher", "internet", "romantic", "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences"]], data.G3)

reg.fit(data[["sex", "studytime", "absences"]], data.G3)

LinearRegression()

# Coefficients

In [ ]:
reg.coef_

array([1.39600618, 0.80707532, 0.03075103])

# Intercept

In [ ]:
reg.intercept_

7.9359866140010205

# Predictions

In [ ]:
float(reg.predict([[10, 4, 20]]))

c:\Users\lasit\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

13.175314687673003